*{
    text-align: center;
}

body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
background: #000000;
}

.container {
    padding: 20px 10px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 40px;
    background: rgb(243, 243, 243);
    border-radius: 10px;
    max-width: 600px;
  }
  

form {
    display: inline-block;
}

input{
padding: 10px 20px 10px 10px;
}

#button{
display: inline-block;
background-color:#29e846;
color:#ffffff;
border-radius: 5px;
margin-top:5px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .7;}

li:hover{
  cursor: grab;
 }

.delete {
	display: none;
}

li > crossOutButton {
    color: red;
    float: right;
	font-weight: 800;
    border-color: #000;
}

ol li {
    padding: 5px
}